<%- include('partials/head') %>
<body class="">
<div class="min-h-screen flex-col bg-gradient-to-tl from-yellow-400 to-green-300">
<%- include('partials/navigation') %>
    <form class="flex mx-auto justify-center items-center" id="SignInForm" style="display: none;">
        <div class="flex flex-col p-10 gap-2 justify-center items-center">
            <h1 class="mx-auto text-3xl text-black" style="font-weight:600">Sign in!</h1>
            <input type="text" placeholder="Email"
                   class="border w-72 p-3 rounded-lg outline-2 outline-gray-400 border-slate-400"
                   style="font-family: Arial" id="email">
            <input type="password" placeholder="Password"
                   class="border w-72 p-3 rounded-lg outline-2 outline-gray-400 border-slate-400"
                   style="font-family: Arial" id="password">
            <input type="submit" placeholder="Sign In"
                   class="border border-slate-400 rounded-lg bg-yellow-400 text-white hover:bg-yellow-600 w-72"
                   style="font-family: 'product sans'" id="submitButton">
        </div>
    </form>

    <!-- Hero Section -->
    <div class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <form id="conversion" class="bg-white p-6 rounded-lg shadow-2xl border border-slate-400 hidden">
            <div class="mb-4">
                <label for="usd" class="block text-gray-700 font-bold mb-2">
                    USD
                </label>
                <input type="number" id="usd" name="usd" class="shadow appearance-none border rounded w-72 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="mb-4">
                <label for="pkr" class="block text-gray-700 font-bold mb-2">
                    PKR
                </label>
                <input type="number" id="pkr" name="pkr" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
            </div>
            <div class="flex justify-center">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" id="convert-button">
                    Convert
                </button>
            </div>
        </form>
    </div>

    <section class="py-20">
        <div class="container mx-auto px-6 text-center">
            <h1 class="text-5xl font-bold text-white mb-2">Revolutionizing Fintech</h1>
            <p class="text-lg text-white font-semibold mb-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquam ullamcorper ex ac pharetra.</p>
            <a href="#" class="bg-white text-yellow-500 font-bold py-3 px-8 rounded-full inline-block hover:bg-yellow-400 hover:text-white transition duration-300" id="get-converted">Convert USD to PKR!</a>
        </div>
    </section>

    <div class="flex-container">
        <% if (transactions.length === 0) { %>
            <div class="flex-item">No transactions found</div>
        <% } else { %>
            <% transactions.forEach(function(transaction) { %>
                <div class="flex-item">
                    <div>Transaction ID: <%= transaction.transactionId %></div>
                    <div>Created At: <%= transaction.transactionCreatedAt %></div>
                    <div>Created By: <%= transaction.transactionCreatedBy %></div>
                    <div>Amount: <%= transaction.transactionAmount %></div>
                    <div>Description: <%= transaction.transactionDescription %></div>
                    <div>Created To: <%= transaction.transactionCreatedTo %></div>
                </div>
            <% }); %>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>
</body>
</html>
